<div class="coordspicker-map">

  <div class="lonlat-form">
    <div class="">
      <input type="number" step="any" class="form-control input-sm"
             placeholder="lat"
             ng-model="ctrl.coordinates[1]"
             ng-change="ctrl.handleFormChange()">
    </div>
    <div class="-group">
      <input type="number" step="any" class="form-control input-sm"
             placeholder="lon"
             ng-model="ctrl.coordinates[0]"
             ng-change="ctrl.handleFormChange()">
    </div>
  </div>

  <button ngeo-btn ng-model="ctrl.drawPoint.active" class="btn btn-sm btn-danger">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
</div>
