<section class="geodash-admin">

  <!--Left panel-->
  <div class="col-sm-4 left-panel">
    <h4 translate="">Indicators</h4>

    <!--Indicators list-->
    <div class="list-group">
      <a href="admin" class="list-group-item"
         ng-repeat="indicator in admin.indicators"
         ng-class="{active: admin.current == indicator}"
         ng-click="admin.current = indicator">
        <span ng-if="indicator.harvesterid" class="glyphicon glyphicon-cloud"></span>
        {{indicator.config.label || indicator.name}}
      </a>

      <a href="admin" class="list-group-item remote-item"
         ng-repeat="remote in admin.remotes"
         ng-class="{active: admin.current == remote}"
         ng-click="admin.current = remote">
        <span class="glyphicon glyphicon-link"></span>
        {{remote.name}} <span ng-if="remote.nodeLabel">({{remote.nodeLabel}})</span>
      </a>

    </div>

    <!--New indicator button-->
    <button class="btn btn-geodash" ng-click="admin.initNew()">
      <span translate="">indicator.new</span>
    </button>

  </div>

  <form novalidate name="indicatorForm" class="form-horizontal">

    <!--Right panel-->
    <div class="col-sm-8" ng-if="admin.current && admin.current.config">

      <h4 translate="">{{admin.current.config.label || admin.current.name}}</h4>

      <!--Create new alert message-->
      <div ng-if="!admin.current.id" class="alert alert-success" role="alert">
        createNew
      </div>


      <!--Tab menu-->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="admin" data-target="#global" aria-controls="global" role="tab" data-toggle="tab" translate="" title="{{'globalT'|translate}}">global</a>
        </li>
        <li role="presentation">
          <a href="admin" data-target="#datasource" aria-controls="datasource" role="tab" data-toggle="tab" translate="" title="{{'datasourceT'|translate}}">datasource</a>
        </li>
        <li role="presentation">
          <a href="admin" data-target="#graph" aria-controls="graph" role="tab" data-toggle="tab" translate="" title="{{'graphT'|translate}}">graph</a>
        </li>

        <button class="pull-right btn btn-danger" ng-click="admin.delete()">
          <span translate="">Delete</span>
        </button>
        <button class="pull-right btn btn-success" ng-click="admin.save()">
          <span translate="">Save</span>
        </button>
      </ul>


      <div class="tab-content">

        <!--Global tab content-->
        <div role="tabpanel" class="tab-pane active" id="global">
          <div class="form-group">
            <label class="col-sm-2 control-label">
              <span translate="">Name</span>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                     ng-model="admin.current.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              <span translate="">Label</span>
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control"
                     ng-model="admin.current.config.label">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              <span translate="">Description</span>
            </label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" rows="10"
                        ng-model="admin.current.config.description"></textarea>
            </div>
          </div>
        </div>

        <!--Datasource tab content-->
        <div role="tabpanel" class="tab-pane" id="datasource">

          <gd-datasources gd-datasources-array="admin.current.config.datasources"></gd-datasources>

          <!--Datesource Test section-->
          <div class="col-md-offset-1" ng-if="admin.current.config.datasource.type">

            <!--Nav pills-->
            <ul class="nav nav-pills test" role="tablist">
              <li role="presentation" ng-click="admin.showCoordsPicker()" ng-class="{disabled: !admin.isFormInputValid___('sqlquery')}">
                <a href="admin" data-target="#testdatapane" aria-controls="global" role="tab" data-toggle="tab">testquery</a>
              </li>
              <li role="presentation" ng-if="admin.testData">
                <a href="admin" data-target="#testtransformpane" aria-controls="datasource" role="tab" data-toggle="tab">testdata</a>
              </li>
            </ul>

            <div class="tab-content">

              <!--Test request-->
              <div role="tabpanel" class="tab-pane" id="testdatapane">

                <!--Coordinates picker-->
                <geodash-coordspicker coordinates="admin.lonlat" ng-if="!indicatorForm.sqlquery.$invalid && !indicatorForm.dburl.$invalid">
                </geodash-coordspicker>

                <button class="btn btn-geodash test-btn" ng-disabled="admin.lonlat.length < 2" ng-click="admin.test()">
                  <span translate="">Test request</span>
                </button>

                <div ng-if="admin.testData" id="testedData" ui-ace="admin.aceOptions" ng-model="admin.testData"></div>
                <div ng-if="admin.testError" class="alert alert-danger" role="alert">
                  {{admin.testError || translate}}
                </div>
              </div>

              <!--Transform config & test content-->
              <div role="tabpanel" class="tab-pane" id="testtransformpane">
                <label translate="">transformConfig</label>

                <!--Transform config-->
                <div ng-if="admin.testData" id="transformConfig" ui-ace="{mode: 'json', showGutter: false, showPrintMargin: false}" ng-model="admin.current.config.datasource.transform"></div>

                <button ng-if="admin.testData" ng-disabled="!admin.current.config.datasource.transform" class="btn btn-geodash test-btn" ng-click="admin.exportData()">
                  <span translate="">Export data</span>
                </button>

                <!--output series-->
                <div ng-if="admin.series" id="outputSerie" ui-ace="admin.aceOptions" ng-model="admin.series"></div>


              </div>
            </div>

          </div>
        </div>

        <!--Chart tab content-->
        <div role="tabpanel" class="tab-pane" id="graph">
          <div id="charConfig" ui-ace="admin.aceOptions" ng-model="admin.current.config.chartConfig"></div>

          <button class="btn btn-geodash test-btn" ng-click="admin.viewChart('#chartDemo')">
            <span translate="">view</span>
          </button>

          <div id="chartDemo"></div>

        </div>
      </div>

    </div>

    <!--Remote Panel-->
    <div class="col-sm-8" ng-if="admin.current && !admin.current.config">
      <h4 translate="">{{admin.current.name}}</h4>
      <div class="btn-block">
        <button class="btn btn-danger" ng-click="admin.deleteRemote()">
          <span translate="">Delete</span>
        </button>
      </div>
    </div>
  </form>

</section>