<ul class="list-group">
  <li class="list-group-item"
      ng-repeat="ds in ctrl.datasources"
      ng-class="{active: ds == ctrl.current}"
      ng-if="ds.name">

    <a ng-click="ctrl.show(ds)" href="">
      {{ds.name}}
    </a>

    <span class="pull-right glyphicon glyphicon-remove" ng-click="ctrl.remove(ds)"></span>
  </li>
  <li class="list-group-item">
    <a href="" ng-click="ctrl.new()" title="{{'addDatasource' | translate}}"><span class="glyphicon-plus glyphicon"></span> </a>
  </li>
</ul>


<gd-datasource-form
        ng-repeat="ds in ctrl.datasources"
        gd-datasource-form-config="ds"
        ng-show="ctrl.current == ds">
</gd-datasource-form>

