<div class="form-group">
  <label class="col-sm-2 control-label">
    <span translate="">Name</span>
  </label>
  <div class="col-sm-8">
    <input type="text" class="form-control"
           ng-model="ctrl.datasource.name">
  </div>
</div>

<!--Type select-->
<div class="form-group">
  <label class="col-sm-2 control-label">
    <span translate="">Type</span>
  </label>

  <div class="col-sm-10">
    <select class="form-control"
            ng-model="ctrl.datasource.type">
      <option>database</option>
      <option>filesystem</option>
    </select>
  </div>
</div>

<!--Database options-->
<div class=""
     ng-if="ctrl.datasource.type == 'database'">

  <!--Database url-->
  <div class="form-group" ng-class="{'has-error': !ctrl.isFormInputValid('dburl')}">
    <label class="col-sm-2 control-label">
      <span translate="">dburl</span>
    </label>

    <div class="col-sm-10">
      <input type="text" class="form-control" required
             name="dburl" id="dburl"
             placeholder="jdbc:postgresql://localhost:5433/ne_risques_geodata?user=geonetwork&password=geonetwork"
             ng-model="ctrl.datasource.url">
    </div>
  </div>

  <!--SQL Query-->
  <div class="form-group" ng-class="{'has-error': !ctrl.isFormInputValid('sqlquery')}">
    <label class="col-sm-2 control-label">
      <span translate="">sqlquery</span>
    </label>

    <div class="col-sm-10">
      <div id="sqlquery" required name="sqlquery" ui-ace="{mode: 'sql', showGutter: false, showPrintMargin: false}"
           ng-model="ctrl.datasource.sql">
      </div>
    </div>
  </div>
</div>

<!--Filesystem options-->
<div class=""
     ng-if="ctrl.datasource.type == 'filesystem'">

  <!--Path -->
  <div class="form-group" ng-class="{'has-error': !ctrl.isFormInputValid('fsPath')}">
    <label class="col-sm-2 control-label">
      <span translate="">Path</span>
    </label>

    <div class="col-sm-10">
      <input type="text" class="form-control" required
             name="fsPath" id="fsPath"
             placeholder="/home/philippe/data/cpc/rfe2/02_moyennes_pluies"
             ng-model="ctrl.datasource.path">
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': !ctrl.isFormInputValid('fsPattern')}">
    <label class="col-sm-2 control-label">
      <span translate="">Pattern</span>
    </label>

    <div class="col-sm-10">
      <input type="text" class="form-control" required
             name="fsPattern" id="fsPattern"
             placeholder="Rain0Mm_${year}_days.tif"
             ng-model="ctrl.datasource.pattern">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !ctrl.isFormInputValid('fsAmount')}">
    <label class="col-sm-2 control-label">
      <span translate="">Amount</span>
    </label>

    <div class="col-sm-2">
      <input type="number" class="form-control" required
             name="fsAmount" id="fsAmount"
             ng-model="ctrl.datasource.amount">
    </div>
  </div>
</div>

<!--Merge with another datasource section-->
<div class="checkbox col-sm-offset-2" ng-if="!(ctrl.datasource.basedOnDs >= 0)" ng-show="$parent.$first == false">
  <label>
    <input type="checkbox" ng-model="ctrl.datasource.merge"><span translate="">Merge with previous</span>
  </label>
  <div class="app-mergetype" ng-if="ctrl.datasource.merge">
    <label><input type="radio" ng-model="ctrl.datasource.mergeType" checked value="concat"><span translate="">Concat</span> </label>
    <label><input type="radio" ng-model="ctrl.datasource.mergeType" value="percentage"><span translate="">Percentage</span> </label>
  </div>
</div>

<!--Compute from another datasource section-->
<div class="form-group" ng-if="!ctrl.datasource.merge && ctrl.sourcesCtrl.datasources.length > 1">
  <label class="col-sm-2 control-label">
    <span translate="">basedOnDs</span>
  </label>
  <div class="col-sm-4">
    <select class="form-control"
            ng-options="ds.idx as ds.name for ds in ctrl.otherDs" ng-model="ctrl.datasource.basedOnDs"></select>
  </div>
  <div class="col-sm-2">
    <select class="form-control"
            ng-if="ctrl.datasource.basedOnDs >= 0"
            ng-options=" key as key for (key, value) in ctrl.gdSerieFn" ng-model="ctrl.datasource.basedOnDsFn"></select>
  </div>
</div>

<div class="checkbox col-sm-offset-2" ng-show="$parent.$first == false">

  <div class="app-mergetype" ng-if="ctrl.datasource.basedOnDs >= 0">
    <label><input type="radio" ng-model="ctrl.datasource.basedType" checked value="plusminusrange"><span translate="">plusminusrange</span> </label>
  </div>
</div>


<!--Test section-->
<div class="col-md-offset-1" ng-if="ctrl.isValid()">

  <!--Nav pills-->
  <ul class="nav nav-pills test" role="tablist">
    <li role="presentation" ng-click="ctrl.showCoordsPicker()">
      <a href="" data-target="{{::'#testdatapane' + ctrl.datasource.$$hashKey.replace(':', '_')}}" aria-controls="global" role="tab" data-toggle="tab">data</a>
    </li>
    <li role="presentation" ng-if="ctrl.testData">
      <a href="" data-target="#testtransformpane" aria-controls="datasource" role="tab" data-toggle="tab">transform</a>
    </li>
    <li role="presentation" ng-if="ctrl.testData">
      <a href="" data-target="#viewserie" aria-controls="datasource" role="tab" data-toggle="tab">view</a>
    </li>
  </ul>

  <div class="tab-content">

    <!--Test request-->
    <div role="tabpanel" class="tab-pane" id="{{::'testdatapane' + ctrl.datasource.$$hashKey.replace(':', '_')}}">

      <!--Coordinates picker-->
      <geodash-coordspicker coordinates="ctrl.lonlat">
      </geodash-coordspicker>

      <button class="btn btn-geodash test-btn" ng-disabled="ctrl.lonlat.length < 2" ng-click="ctrl.test()">
        <span translate="">Test request</span>
      </button>

      <div ng-if="ctrl.testData" id="testedData" ui-ace="ctrl.aceOptions" ng-model="ctrl.testData"></div>
      <div ng-if="ctrl.testError" class="alert alert-danger" role="alert">
        {{ctrl.testError | translate}}
      </div>
    </div>

    <!--Transform config & test content-->
    <div role="tabpanel" class="tab-pane" id="testtransformpane">
      <label translate="">transformConfig</label>

      <!--Transform config-->
      <div ng-if="ctrl.testData" id="transformConfig" ui-ace="{mode: 'json', showGutter: false, showPrintMargin: false}" ng-model="ctrl.datasource.transform"></div>

      <button ng-if="ctrl.testData" ng-disabled="!ctrl.datasource.transform" class="btn btn-geodash test-btn" ng-click="ctrl.exportData()">
        <span translate="">Export data</span>
      </button>

      <!--output series-->
      <div ng-if="ctrl.series" id="outputSerie" ui-ace="ctrl.aceOptions" ng-model="ctrl.series"></div>


    </div>

    <!--view serie-->
    <div role="tabpanel" class="tab-pane" id="viewserie">
      <input type="text" class="form-control input-sm"
             placeholder="{{::'Name' | translate}}"
             ng-model="ctrl.serieChart.name">
      <select class="form-control input-sm"
              placeholder="{{::'Type' | translate}}"
              ng-model="ctrl.serieChart.type">
        <option>column</option>
        <option>arearange</option>
        <option>spline</option>
      </select>

      <button class="btn btn-geodash test-btn" ng-click="ctrl.viewChart()">
        <span translate="">view</span>
      </button>

      <div id="testSerieChart"></div>
    </div>

  </div>

</div>
