<div ng-class="{edit: ctrl.editing}" class="app-dashboard">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="">Welcome to your Dashboard</a></li>
        <li class="config">
          <a href="" ng-click="ctrl.edit()" title="{{ctrl.editing ? 'stopconfigboard' : 'configboard' | translate}}">
            <span class="glyphicon glyphicon-cog" ng-class="{'fa-counter-spin': ctrl.editing}"></span>
          </a>
        </li>
        <li class="config" ng-if="ctrl.editing">
          <a data-toggle="modal" data-target="#modaladd" href="" ng-click="ctrl.add()" title="{{'addIndicator' | translate}}">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
        <li class="button offset" ng-if="ctrl.editing">
          <a href="" ng-click="ctrl.saveState()" title="{{'state.save' | translate}}">
            <span translate="">edit.save</span>
          </a>
        </li>
        <li class="button" ng-if="ctrl.editing">
          <a href="" ng-click="ctrl.cancelState()"  title="{{'state.cancel' | translate}}">
            <span translate="">edit.cancel</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <!--Indicator panel in grid-->
  <section>

    <div id="sortable" class="ui-sortable" ng-hide="ctrl.zoom">
      <div ng-repeat="indicator in ctrl.indicators track by indicator.id" id="board_{{indicator.rid || indicator.id}}"
           class="ui-sortable-handle panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" ng-click="ctrl.open(indicator)">
            {{::indicator.config.label || indicator.name}}
          </h3>
        </div>
        <div class="panel-body">
          <input type="number" ng-init="indicator.optYear = 2017" class="year-input form-control" ng-model="indicator.optYear" ng-change="ctrl.renderGraph(indicator)" ng-if="ctrl.hasYear(indicator)">
          <div id="board_{{indicator.rid || indicator.id}}_chart">
          </div>
          <div class="delete-btn"><span class="glyphicon glyphicon-trash" ng-click="ctrl.remove(indicator)" data-toggle="modal" data-target="#modalok"></span></div>
        </div>
      </div>
    </div>

    <!--Full screen indicator-->
    <div class="full-view" ng-show="ctrl.zoom">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" >
            {{ctrl.zoom.config.label  || ctrl.zoom.name}}
          </h3>
          <button class="close-panel" ng-click="ctrl.zoom = null">
            ✕
          </button>
        </div>
        <div class="panel-body">
          <input type="number" ng-init="ctrl.zoom.optYear = 2017" class="year-input form-control" ng-model="ctrl.zoom.optYear" ng-change="ctrl.renderGraphZoom(ctrl.zoom)" ng-if="ctrl.hasYear(ctrl.zoom)">
          <div id="board_zoom_{{ctrl.zoom.rid || ctrl.zoom.id}}_chart">
          </div>
        </div>
      </div>
    </div>

    <!--Ok Modal to confirm actions-->
    <div class="modal fade" id="modalok">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header" ng-if="ctrl.modal.title">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{ctrl.modal.title | translate}}</h4>
          </div>

          <div class="modal-body">
            {{ctrl.modal.message | translate}}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal" translate>modal.cancel</button>
            <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="ctrl.modal.ok()" translate>modal.ok</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!--Modal to add new indicators on edit mode-->
    <div class="modal fade" id="modaladd">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" translate>modal.add.title</h4>
          </div>

          <div class="modal-body">
            <div class="list-group">
              <a href="" ng-repeat="indicator in ctrl.allIndicators" class="list-group-item" ng-if="ctrl.isAvailable(indicator)"
                 ng-click="ctrl.selectToAdd(indicator)" ng-class="{active: ctrl.indicatorsIdToAdd.indexOf(indicator.id) >= 0}">
                <span>{{indicator.config.label || indicator.name}}</span>
              </a>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="ctrl.cancelAdd()"translate>modal.cancel</button>
            <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="ctrl.confirmAdd()" translate>modal.add</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>