<section class="geodash-admin harvesters">

    <form novalidate name="newRemoteForm" class="form-horizontal">

        <!--Right panel-->
        <div class="col-md-offset-1 col-md-10">

            <!--Node URL-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <span translate="">nodeurl</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                           ng-model="remotes.geodashUrl"
                           ng-change="remotes.getIndicators()"
                    ng-model-options="{debounce: 600}">
                </div>
            </div>

            <!--Node Label-->
            <div class="form-group" ng-class="{'has-error': newRemoteForm.nodeLabel.$invalid}" ng-show="remotes.geodashUrl">
                <label class="col-sm-2 control-label">
                    <span translate="">nodelabel</span>
                </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"
                           required
                           name="nodeLabel"
                           ng-model="remotes.nodeLabel">
                </div>
            </div>
            <table class="table table-striped">
                <tr ng-repeat="indicator in remotes.indicators"
                    ng-class="{success: remotes.isSelected(indicator.id)}"
                    ng-click="remotes.select(indicator.id)">
                    <td>{{indicator.id}}</td>
                    <td>{{indicator.config.label || indicator.name}}</td>
                </tr>
            </table>

            <div class="btn-block">
                <button ng-show="remotes.selection.length > 0"
                        ng-disabled="!remotes.nodeLabel"
                        class="btn btn-geodash"
                        ng-click="remotes.join()">
                    <span translate="">addSelection</span>
                </button>

            </div>

        </div>


    </form>

</section>